*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
 background-color: black;
}
.contact-us-card{
    background-color:#f29e7d ;
}
.blue-card{
    background-color: #476f66;
}
.purchase-btn{
    background-color: #f6cfcf;
}
.share-btn{
    background-color: #31574f;
}
.purchase-div{
    background-color: #274a43;
}