
<!-- <div class="card"></div>
<div class="row d-flex">
<div class="col-4">
    <h5>Course</h5>
    <p> Digital-Marketing</p>
    <p>See all Chapters</p>
</div>
 <div class="col-8">
       <div d-flex justify-content-between>
         <h6>Chapter 10</h6>
         <img src="" alt="">
         <p>03/10 completed</p>
       </div>
       <div>Social Media Growth</div>
       <button>Next Chapter</button>
</div>
</div>   
 -->
 <div class="card  m-3 border-0 " style="max-width: 775px;">
  <div class="row g-0 ">
    <div class="col-md-4 bg-color p-4 digital-marketing ">
    <h5 class="card-title">Course</h5>
    <p class="course-name"> Digital-Marketing</p>
    <p class="caption">See all Chapters</p>
    </div>
    <div class="col-md-8 ">
      <div class="card-body d-flex  justify-content-between"   >
        <div class="mt-0 g-0">
          <h6 class="ch-no">Chapter 10</h6>
          <div class="ch-title">Social Media <br> Growth</div>
        </div>
       <div>
        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-danger" style="width: 100%"></div>
        </div>
        <p class="progress-status"> 03/10 completed</p>

        <button
        type="button"
        class=" rounded-pill mt-4 border-0  btn follow-btn-text"
        style="
          background-color:#EB5757;
         
        "
      >
        Next Chapter
      </button>
      </div>
      </div>
      </div>
    </div>
  </div>

